<html>
<head>

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">


		<script src="/static/Chart.js"></script>


<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}
</style>

<title>Ordering notice</title>
</head>
<body >



<table id="t01">
  <tr>
    <th>Caller Nr</th>
    <th>InterArrival Time</th>		
    <th>Arrival Time</th>	
    <th>When Able Avail</th>	
    <th>When Baker Avail</th>	
    <th>Server Chosen</th>	
    <th>Sevice Time</th>	
    <th>Time Sevice Begins</th>
    <th>Able's Sevice Compl Time</th>	
    <th>Baker's Sevice Compl Time</th>	
    <th>Caller 	Delay</th>	
    <th>Time in System</th>
  </tr>
{% for item_list in allData %}
<tr>
{% for item in item_list %}
    <td>{{ item }}</td>
{% endfor %}
</tr>
{% endfor %}

</table>
</br>
</br>
</br>
<center>
<div style="width: 50%">

</br>
</br>
</br>
			Histogram for the Average Customer Waitting Time
			
</br>
X:min

</br>
Y:frequency
</br>
			<canvas id="canvas"  ></canvas>
			
</br>
</br>
</br>
			Caller Delay
			
</br>

X:min

</br>
Y:percent
</br>
			<canvas id="canvas2" ></canvas>
		</div>
		<script>
	
	var barChartData = {
		labels : [
		{% for item in listX %}
		'{{ item }}' , 
		{% endfor %}
		
		],
		datasets : [
			{
				fillColor : "rgba(0,140,130,0.5)",
				strokeColor : "rgba(0,0,0,0.8)",
				highlightFill: "rgba(20,160,150,0.75)",
				highlightStroke: "rgba(0,0,0,1)",
				data : [
				{% for item in listY %}
				'{{ item }}' , 
				{% endfor %}
		
				]
			}
		]

	}
	
	var barChartData2 = {
		labels : [
		{% for item in listX2 %}
		'{{ item }}' , 
		{% endfor %}
		
		],
		datasets : [
			{
				fillColor : "rgba(110,50,40,0.5)",
				strokeColor : "rgba(0,0,0,0.8)",
				highlightFill: "rgba(130,60,50,0.75)",
				highlightStroke: "rgba(0,0,0,1)",
				data : [
				{% for item in listY2 %}
				'{{ item }}', 
				{% endfor %}
		
				]
			}
		]

	}
	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		var ctx2 = document.getElementById("canvas2").getContext("2d");
		window.myBar = new Chart(ctx).Bar(barChartData, {
			responsive : true
		});
		
		window.myBar = new Chart(ctx2).Bar(barChartData2, {
			responsive : true
		});
	}

	</script>
</center>
</body>
</html>