<html>
<head>

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">


		<script src="/static/Chart.js"></script>


<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}
</style>

<title>Ordering notice</title>
</head>
<body >



<table id="t01">
  <tr>
    <th>Caller Nr</th>
    <th>InterArrival Time</th>		
    <th>Arrival Time</th>	
    <th>When Able Avail</th>	
    <th>When Baker Avail</th>	
    <th>Server Chosen</th>	
    <th>Sevice Time</th>	
    <th>Time Sevice Begins</th>
    <th>Able's Sevice Compl Time</th>	
    <th>Baker's Sevice Compl Time</th>	
    <th>Caller 	Delay</th>	
    <th>Time in System</th>
  </tr>
{% for item_list in allData %}
<tr>
{% for item in item_list %}
    <td>{{ item }}</td>
{% endfor %}
</tr>
{% endfor %}

</table>
</br>
</br>
</br>
<div style="width: 100%">
			<canvas id="canvas" height="450" width="600"></canvas>
		</div>
<script>
	var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

	var barChartData = {
		labels : ["January","February","March","April","May","June","July"],
		datasets : [
			{
				fillColor : "rgba(220,220,220,0.5)",
				strokeColor : "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
			}
		]

	}
	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myBar = new Chart(ctx).Bar(barChartData, {
			responsive : true
		});
	}

	</script>

</body>
</html>